{% extends 'layouts/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 my-5">
            <!-- <h3 class="text-center">One more and you're done!</h3>
            <div class="card shadow">
                <form action="{% url 'aboutSeller' %}" method='post' class="px-4 py-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Continue"/>
                </form>
            </div> -->
            <div class="card shadow mt-5">
                <form class="px-4 py-4">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">First Name:</label>
                        {{ form.firstname }}
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Last Name:</label>
                        {{ form.lastname }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Email:</label>
                      {{ form.email }}
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Cellphone:</label>
                      {{ form.cellphone_number }}
                    </div>
                    <button type="submit" class="btn btn-primary">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}