
{% extends 'layouts/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 my-5">
            <!-- <div class="card shadow">
                <form action="{% url 'sell' %}" method="post" class="px-4 py-4">
                    {% csrf_token %}
                    {{ cat_form.as_p }}
                    <input class="btn btn-primary" type="submit"/>
                </form>
            </div> -->
            
            <div class="card shadow justify-content-center">
                <div class="row justify-content-center my-5">
                    <div class="col-md-10">
                        <form method="post" action="{% url 'sell' %}" id="productForm" data-models-url="{% url 'ajax_load_models' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                        <button class="btn btn-success w-25 my-4 text-center" type="submit">Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var brand = document.getElementById("id_brand");
    var select = document.getElementById("id_model");
    var category = document.getElementById("id_category");

    brand.addEventListener('change', function() {
        fetch(`ajax/load-models?brand=${brand.options[brand.selectedIndex].value}`).then(data => {
            data.text().then((j) => {
                console.log(`${brand.options[brand.selectedIndex].value}`);
                select.innerHTML = j;

                fetch(`ajax/load-category?model=${select.options[select.selectedIndex].value}`).then(data => {
                    data.text().then((j) => {
                        console.log(j);
                        category.innerHTML = j;
                    })
                })

            })
        })
        .catch(error => {
            console.log(error.message);
        });
    })
    
</script>

{% endblock %}