{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Be</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,400italic,500,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400italic,500,700,700italic,900'>
	<!-- CSS -->
	<link rel='stylesheet' href='{% static "css/global.css" %}'>
	<link rel='stylesheet' href='{% static "css/el_demo.css" %}'>
	<link rel='stylesheet' href='{% static "css/structure.css" %}'>
	<link rel='stylesheet' href='{% static "css/loans4.css" %}'>
	<link rel='stylesheet' href='{% static "css/custom.css" %}'> </head>

<body class="page-template-default page color-custom style-default button-round layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2172 elementor-default elementor-kit-9 elementor-page elementor-page-102">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'home' %}" title="BeLoans 4 - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li> <a href="{% url 'home' %}"><span>Home</span></a> </li>
											<li> <a href="{% url 'howItWorks' %}"><span>How it works?</span></a> </li>
											<li> <a href="{% url 'ourTips' %}"><span>Our tips</span></a> </li>
											<li> <a href="{% url 'faqs' %}"><span>FAQ</span></a> </li>
											<li class="current-menu-item"> <a href="{% url 'applyNow' %}"><span>Apply now</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now <i class="icon-right-open"></i></a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section the_content has_content">
							<div class="section_wrapper">
								<div class="the_content_wrapper">
									<div data-elementor-type="wp-page" data-elementor-id="102" class="elementor elementor-102" data-elementor-settings="[]">
										<div class="elementor-inner">
											<div class="elementor-section-wrap">
												<section class="elementor-element elementor-element-8d6258a elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="8d6258a" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-a3597fd elementor-column elementor-col-50 elementor-top-column" data-id="a3597fd" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-6d7160f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="6d7160f" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-ba6e1da elementor-column elementor-col-100 elementor-inner-column" data-id="ba6e1da" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-c106b39 elementor-widget elementor-widget-text-editor" data-id="c106b39" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h1><span style="color: #f7f7f7;">Apply for a loan in 15 min
					<br>
					</span></h1> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-b0b6531 elementor-widget elementor-widget-text-editor" data-id="b0b6531" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h6><span style="color: #f7f7f7;">Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed vestibulum.
					<br>
					</span></h6> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-c330016 elementor-column elementor-col-50 elementor-top-column" data-id="c330016" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-8162077 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8162077" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-0d61fe6 elementor-column elementor-col-100 elementor-inner-column" data-id="0d61fe6" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-caf193a elementor-widget elementor-widget-image" data-id="caf193a" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="708" height="577" src="{% static 'images/loans4-subheader3.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-e92e304 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e92e304" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-961f8c3 elementor-column elementor-col-100 elementor-top-column" data-id="961f8c3" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-edc5cba elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="edc5cba" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-ecb06a5 elementor-column elementor-col-100 elementor-inner-column" data-id="ecb06a5" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-628f802 elementor-widget elementor-widget-text-editor" data-id="628f802" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>Lorem ipsum <span style="color: #f46110;">3,79%</span> dolor sit amet consectetur leo</h2>
																											<p></p>
																											<p> Quisque cursus et porttitor risus: </p>
																											<p></p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-b64baa9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="b64baa9" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-656df5c elementor-column elementor-col-25 elementor-inner-column" data-id="656df5c" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-04acae8 elementor-widget elementor-widget-image" data-id="04acae8" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="60" height="60" src="{% static 'images/loans4-contact-icon1.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-90dc79c elementor-widget elementor-widget-text-editor" data-id="90dc79c" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-ac224ac elementor-column elementor-col-25 elementor-inner-column" data-id="ac224ac" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-62dea8a elementor-widget elementor-widget-image" data-id="62dea8a" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="60" height="60" src="{% static 'images/loans4-contact-icon2.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-76eef2a elementor-widget elementor-widget-text-editor" data-id="76eef2a" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Ut elit tellus, luctus nec ullamcorper mattis </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-06c22fa elementor-column elementor-col-25 elementor-inner-column" data-id="06c22fa" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-ce4cdb7 elementor-widget elementor-widget-image" data-id="ce4cdb7" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="60" height="60" src="{% static 'images/loans4-contact-icon3.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-0456062 elementor-widget elementor-widget-text-editor" data-id="0456062" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Dolor sit amet, consectetur adipiscing elit elit tellus </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-2ba0e91 elementor-column elementor-col-25 elementor-inner-column" data-id="2ba0e91" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-049450b elementor-widget elementor-widget-image" data-id="049450b" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="60" height="60" src="{% static 'images/loans4-contact-icon4.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-c126bb8 elementor-widget elementor-widget-text-editor" data-id="c126bb8" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Tellus, luctus nec ullamcorper mattis pulvinar leo. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-aefd695 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="aefd695" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
													<div class="elementor-background-overlay"></div>
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-8173301 elementor-column elementor-col-66 elementor-top-column" data-id="8173301" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-f46aadb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="f46aadb" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-c716bc0 elementor-column elementor-col-100 elementor-inner-column" data-id="c716bc0" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-e625a9d elementor-widget elementor-widget-text-editor" data-id="e625a9d" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p>
																												<div role="form" class="wpcf7" id="wpcf7-f300-p102-o1" lang="en-US" dir="ltr">
																													<div class="screen-reader-response" aria-live="polite"></div>
																													<form action="#" method="post" class="wpcf7-form" novalidate>
																														<div style="display: none;">
																															<input type="hidden" name="_wpcf7" value="300">
																															<input type="hidden" name="_wpcf7_version" value="5.1.9">
																															<input type="hidden" name="_wpcf7_locale" value="en_US">
																															<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f300-p102-o1">
																															<input type="hidden" name="_wpcf7_container_post" value="102"> </div>
																														<div class="column one-second">
																															<div class="column one"> Requested Amount ($)
																																<br> <span class="wpcf7-form-control-wrap requested-amount">
					<input type="number" name="requested-amount" value="100" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" min="0" max="2500" aria-required="true" aria-invalid="false">
					</span> </div>
																															<div class="column one"> Loan Purpose
																																<br> <span class="wpcf7-form-control-wrap loan-purpose">
					<select name="loan-purpose" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
					<option value="To Buy Essentials">To Buy Essentials</option><option value="To Buy/Repair A Car">To Buy/Repair A Car</option><option value="To Pay Bills">To Pay Bills</option><option value="To Pay Off Another Loan">To Pay Off Another Loan</option><option value="For Short-Term Cash">For Short-Term Cash</option><option value="For Home Improvements">For Home Improvements</option><option value="Other">Other</option>
					</select></span> </div>
																															<div class="column one"> Over a period of
																																<br> <span class="wpcf7-form-control-wrap period">
					<select name="period" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
					<option value="3 months">3 months</option><option value="6 months">6 months</option><option value="9 months">9 months</option><option value="12 months">12 months</option><option value="18 months">18 months</option><option value="24 months">24 months</option><option value="36 months">36 months</option>
					</select></span> </div>
																															<div class="column one"> Repayment
																																<br> <span class="wpcf7-form-control-wrap repayment">
					<select name="repayment" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
					<option value="Weekly payments">Weekly payments</option><option value="Monthly payments">Monthly payments</option><option value="In 1 payment">In 1 payment</option>
					</select></span> </div>
																														</div>
																														<div class="column one-second">
																															<div class="column one"> Title
																																<br> <span class="wpcf7-form-control-wrap title">
					<select name="title" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
					<option value="Mr">Mr</option><option value="Mrs">Mrs</option><option value="Ms">Ms</option><option value="Miss">Miss</option>
					</select></span> </div>
																															<div class="column one"> First name
																																<br> <span class="wpcf7-form-control-wrap first-name">
					<input type="text" name="first-name" value size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
					</span> </div>
																															<div class="column one"> Surname
																																<br> <span class="wpcf7-form-control-wrap surname">
					<input type="text" name="surname" value size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
					</span> </div>
																															<div class="column one"> E-mail
																																<br> <span class="wpcf7-form-control-wrap your-email">
					<input type="email" name="your-email" value size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
					</span> </div>
																														</div>
																														<div class="column one">
																															<input type="submit" value="Send a message" class="wpcf7-form-control wpcf7-submit"> </div>
																														<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
																													</form>
																												</div>
																											</p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-4bf343d elementor-column elementor-col-33 elementor-top-column" data-id="4bf343d" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<div class="elementor-element elementor-element-e759be8 elementor-widget elementor-widget-text-editor" data-id="e759be8" data-element_type="widget" data-widget_type="text-editor.default">
																			<div class="elementor-widget-container">
																				<div class="elementor-text-editor elementor-clearfix">
																					<h3><span style="color: #ffc50d;">Why choose us</span><span style="color: #f7f7f7;">for quick loans?</span></h3> </div>
																			</div>
																		</div>
																		<div class="elementor-element elementor-element-a9993ff elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="a9993ff" data-element_type="widget" data-widget_type="icon-list.default">
																			<div class="elementor-widget-container">
																				<ul class="elementor-icon-list-items">
																					<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
					<defs>
					</defs><circle class="cls-1" cx="16" cy="16" r="15"></circle><path id="Rounded_Rectangle_5" data-name="Rounded Rectangle 5" class="cls-2" d="M11.285,15.306a0.932,0.932,0,0,1,1.381,0l2.524,2.911a1.1,1.1,0,0,1,0,1.478,0.932,0.932,0,0,1-1.381,0l-2.524-2.911A1.1,1.1,0,0,1,11.285,15.306Zm2.524,2.911,5.524-5.911a0.932,0.932,0,0,1,1.381,0,1.1,1.1,0,0,1,0,1.478l-5.524,5.911a0.932,0.932,0,0,1-1.381,0A1.1,1.1,0,0,1,13.81,18.217Z"></path>
					</svg> </span><span class="elementor-icon-list-text">No fee's &amp; <span data-elementor-setting-key="icon_list.1.text" data-pen-placeholder="Type Here..." contenteditable="true">no paperwork</span></span>
																					</li>
																					<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
					<defs>
					<>
					</defs><circle class="cls-1" cx="16" cy="16" r="15"></circle><path id="Rounded_Rectangle_5" data-name="Rounded Rectangle 5" class="cls-2" d="M11.285,15.306a0.932,0.932,0,0,1,1.381,0l2.524,2.911a1.1,1.1,0,0,1,0,1.478,0.932,0.932,0,0,1-1.381,0l-2.524-2.911A1.1,1.1,0,0,1,11.285,15.306Zm2.524,2.911,5.524-5.911a0.932,0.932,0,0,1,1.381,0,1.1,1.1,0,0,1,0,1.478l-5.524,5.911a0.932,0.932,0,0,1-1.381,0A1.1,1.1,0,0,1,13.81,18.217Z"></path>
					</svg> </span><span class="elementor-icon-list-text">Secure application </span> </li>
																					<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
					<defs>
					</defs><circle class="cls-1" cx="16" cy="16" r="15"></circle><path id="Rounded_Rectangle_5" data-name="Rounded Rectangle 5" class="cls-2" d="M11.285,15.306a0.932,0.932,0,0,1,1.381,0l2.524,2.911a1.1,1.1,0,0,1,0,1.478,0.932,0.932,0,0,1-1.381,0l-2.524-2.911A1.1,1.1,0,0,1,11.285,15.306Zm2.524,2.911,5.524-5.911a0.932,0.932,0,0,1,1.381,0,1.1,1.1,0,0,1,0,1.478l-5.524,5.911a0.932,0.932,0,0,1-1.381,0A1.1,1.1,0,0,1,13.81,18.217Z"></path>
					</svg> </span><span class="elementor-icon-list-text">100% online</span> </li>
																					<li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
								<defs>
								</defs><circle class="cls-1" cx="16" cy="16" r="15"></circle><path id="Rounded_Rectangle_5" data-name="Rounded Rectangle 5" class="cls-2" d="M11.285,15.306a0.932,0.932,0,0,1,1.381,0l2.524,2.911a1.1,1.1,0,0,1,0,1.478,0.932,0.932,0,0,1-1.381,0l-2.524-2.911A1.1,1.1,0,0,1,11.285,15.306Zm2.524,2.911,5.524-5.911a0.932,0.932,0,0,1,1.381,0,1.1,1.1,0,0,1,0,1.478l-5.524,5.911a0.932,0.932,0,0,1-1.381,0A1.1,1.1,0,0,1,13.81,18.217Z"></path>
							</svg> </span><span class="elementor-icon-list-text"> Same day approval</span> </li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-55a5715 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="55a5715" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-e0b0b86 elementor-column elementor-col-100 elementor-top-column" data-id="e0b0b86" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-e90cfb6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="e90cfb6" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-dac1b6b elementor-column elementor-col-100 elementor-inner-column" data-id="dac1b6b" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-244ba3e elementor-widget elementor-widget-text-editor" data-id="244ba3e" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>Feel free to <span style="color: #ffc50d;">contact us</span></h2> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-b791bfa elementor-widget elementor-widget-spacer" data-id="b791bfa" data-element_type="widget" data-widget_type="spacer.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-spacer">
																											<div class="elementor-spacer-inner"></div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-7e27d63 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7e27d63" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-e7eb8ae elementor-column elementor-col-33 elementor-inner-column" data-id="e7eb8ae" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-6039ac9 elementor-widget elementor-widget-image" data-id="6039ac9" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="140" height="140" src="{% static 'images/loans4-contact-icon5.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-0c0c5c9 elementor-widget elementor-widget-text-editor" data-id="0c0c5c9" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Phone </p>
																											<h5>+61 (0) 383 766 284</h5> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-1d11590 elementor-column elementor-col-33 elementor-inner-column" data-id="1d11590" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-28b8233 elementor-widget elementor-widget-image" data-id="28b8233" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="140" height="140" src="{% static 'images/loans4-contact-icon6.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-7fd87f9 elementor-widget elementor-widget-text-editor" data-id="7fd87f9" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> E-mail </p>
																											<h5><a href="#">noreply@envato.com</a></h5> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-8910db5 elementor-column elementor-col-33 elementor-inner-column" data-id="8910db5" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-c1d1b89 elementor-widget elementor-widget-image" data-id="c1d1b89" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="140" height="140" src="{% static 'images/loans4-contact-icon7.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-7306fad elementor-widget elementor-widget-text-editor" data-id="7306fad" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Opening hours </p>
																											<h5>Mon &#8211; Sat: 9 am &#8211; 6 pm</h5> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="Footer" class="clearfix">
			<div class="widgets_wrapper center">
				<div class="container">
					<div class="column one-second">
						<aside id="custom_html-2" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
									<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/loans4-footer-logo.png' %}" alt="loans4-footer-logo" title="loans4-footer-logo" width="144" height="45"></div>
								</div>
								<hr class="no_line" style="margin:0 auto 40px">
								<h3><span style="color: #f7f7f7;">+61 (0) 383 766 284</span></h3> <a class="themecolor" href="#">noreply@envato.com</a></div>
						</aside>
					</div>
					<div class="column one-fourth">
						<aside id="custom_html-3" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<hr class="no_line" style="margin:0 auto 10px">
								<p>Client</p>
								<p> <a href="#">FAQ</a>
									<br> <a href="#">How to take a loan?</a>
									<br> <a href="#">How to pay for loan?</a></p>
							</div>
						</aside>
					</div>
					<div class="column one-fourth">
						<aside id="custom_html-4" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<hr class="no_line" style="margin:0 auto 10px">
								<p>Documents</p>
								<p> <a href="#">Loan agreement</a>
									<br> <a href="#">Privacy policy</a>
									<br> <a href="#">Regulations and more</a></p>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one"> <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
						<div class="copyright"> &copy; 2020 BeLoans 4 - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a> </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now <i class="icon-right-open"></i></a>
			<div class="extras-wrapper"></div>
		</div>
		<div class="menu_wrapper"></div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/mfn.menu.js' %}"></script>
	<script src="{% static 'js/jquery.plugins.js' %}"></script>
	<script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
	<script src="{% static 'js/animations/animations.js' %}"></script>
	<script src="{% static 'js/translate3d.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/el_demo.js' %}"></script>
</body>

</html>