{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Be</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,400italic,500,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400italic,500,700,700italic,900'>
	<!-- CSS -->
	<link rel='stylesheet' href='{% static "css/global.css" %}'>
	<link rel='stylesheet' href='{% static "css/el_demo.css" %}'>
	<link rel='stylesheet' href='{% static "css/structure.css" %}'>
	<link rel='stylesheet' href='{% static "css/loans4.css" %}'>
	<link rel='stylesheet' href='{% static "css/custom.css" %}'> </head>

<body class="page-template-default page color-custom style-default button-round layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2172 elementor-default elementor-kit-9 elementor-page elementor-page-98">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'home' %}" title="BeLoans 4 - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li> <a href="{% url 'home' %}"><span>Home</span></a> </li>
											<li class="current-menu-item"> <a href="{% url 'howItWorks' %}"><span>How it works?</span></a> </li>
											<li> <a href="{% url 'ourTips' %}"><span>Our tips</span></a> </li>
											<li> <a href="faq.html"><span>FAQ</span></a> </li>
											<li> <a href="apply-now.html"><span>Apply now</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now <i class="icon-right-open"></i></a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section the_content has_content">
							<div class="section_wrapper">
								<div class="the_content_wrapper">
									<div data-elementor-type="wp-page" data-elementor-id="98" class="elementor elementor-98" data-elementor-settings="[]">
										<div class="elementor-inner">
											<div class="elementor-section-wrap">
												<section class="elementor-element elementor-element-4c6a144 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4c6a144" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-2015bf3 elementor-column elementor-col-50 elementor-top-column" data-id="2015bf3" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-fecdcb3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="fecdcb3" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-8f0555d elementor-column elementor-col-100 elementor-inner-column" data-id="8f0555d" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-a804ceb elementor-widget elementor-widget-text-editor" data-id="a804ceb" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h1><span style="color: #f7f7f7;">Who we are and what we do</span></h1> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-b07a4e7 elementor-widget elementor-widget-text-editor" data-id="b07a4e7" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h6><span style="color: #f7f7f7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</span></h6> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-ec11356 elementor-column elementor-col-50 elementor-top-column" data-id="ec11356" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-b998c38 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="b998c38" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-d9ed315 elementor-column elementor-col-100 elementor-inner-column" data-id="d9ed315" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-42be6fc elementor-widget elementor-widget-image" data-id="42be6fc" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="708" height="577" src="{% static 'images/loans4-subheader4.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-f3e8c4e elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f3e8c4e" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-42fabf9 elementor-column elementor-col-100 elementor-top-column" data-id="42fabf9" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-8dd3626 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8dd3626" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-329ccb4 elementor-column elementor-col-100 elementor-inner-column" data-id="329ccb4" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-6893509 elementor-widget elementor-widget-text-editor" data-id="6893509" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>It&#8217;s very easy
					<br>
					Only <span style="color: #ffc50d;">3 steps</span> to take a loan</h2> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-cdd6e7c elementor-widget elementor-widget-spacer" data-id="cdd6e7c" data-element_type="widget" data-widget_type="spacer.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-spacer">
																											<div class="elementor-spacer-inner"></div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-2b0e8ab elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="2b0e8ab" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-6031a1b elementor-column elementor-col-50 elementor-inner-column" data-id="6031a1b" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-b5fcbe0 elementor-widget elementor-widget-image" data-id="b5fcbe0" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="780" height="780" src="{% static 'images/loans4-how-pic1.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-5e22153 elementor-column elementor-col-50 elementor-inner-column" data-id="5e22153" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-f538470 elementor-widget elementor-widget-text-editor" data-id="f538470" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h4>Apply online</h4>
																											<p> Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-fe74613 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="fe74613" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-769d9dc elementor-column elementor-col-50 elementor-inner-column" data-id="769d9dc" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-cc7cd53 elementor-widget elementor-widget-text-editor" data-id="cc7cd53" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h4>Approval</h4>
																											<p> Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-1947866 elementor-column elementor-col-50 elementor-inner-column" data-id="1947866" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-46d61cc elementor-widget elementor-widget-image" data-id="46d61cc" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="780" height="780" src="{% static 'images/loans4-how-pic2.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-495f9fc elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="495f9fc" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-8412f71 elementor-column elementor-col-50 elementor-inner-column" data-id="8412f71" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-6e8f5c2 elementor-widget elementor-widget-image" data-id="6e8f5c2" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="780" height="780" src="{% static 'images/loans4-how-pic3.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-75077b0 elementor-column elementor-col-50 elementor-inner-column" data-id="75077b0" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-7e1c18c elementor-widget elementor-widget-text-editor" data-id="7e1c18c" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h4>Funds transfer</h4>
																											<p> Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-53647cc elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="53647cc" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-5df9579 elementor-column elementor-col-50 elementor-top-column" data-id="5df9579" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-4418318 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4418318" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-482459a elementor-column elementor-col-100 elementor-inner-column" data-id="482459a" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-b316ac1 elementor-widget elementor-widget-text-editor" data-id="b316ac1" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>What our clients say about us</h2> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-3928ac5 elementor-widget elementor-widget-mfn_testimonials" data-id="3928ac5" data-element_type="widget" data-widget_type="mfn_testimonials.default">
																									<div class="elementor-widget-container">
																										<div class="testimonials_slider single-photo">
																											<ul class="testimonials_slider_ul">
																												<li>
																													<div class="single-photo-img"><img width="85" height="85" src="{% static 'images/loans4-testimonials-pic1.jpg' %}" class="scale-with-grid wp-post-image" alt> </div>
																													<div class="bq_wrapper">
																														<blockquote> Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis malesuada elit lectus. </blockquote>
																													</div>
																													<div class="hr_dots"> <span></span><span></span><span></span> </div>
																													<div class="author">
																														<h5>Sophia, New York</h5><span class="company"></span> </div>
																												</li>
																												<li>
																													<div class="single-photo-img"><img width="85" height="85" src="{% static 'images/loans4-testimonials-pic2.jpg' %}" class="scale-with-grid wp-post-image" alt> </div>
																													<div class="bq_wrapper">
																														<blockquote> Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus. </blockquote>
																													</div>
																													<div class="hr_dots"> <span></span><span></span><span></span> </div>
																													<div class="author">
																														<h5>Tom, Los Angeles</h5><span class="company"></span> </div>
																												</li>
																												<li>
																													<div class="single-photo-img"><img width="85" height="85" src="{% static 'images/loans4-testimonials-pic3.jpg' %}" class="scale-with-grid wp-post-image" alt> </div>
																													<div class="bq_wrapper">
																														<blockquote> Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. </blockquote>
																													</div>
																													<div class="hr_dots"> <span></span><span></span><span></span> </div>
																													<div class="author">
																														<h5>Emily, Los Angeles</h5><span class="company"></span> </div>
																												</li>
																											</ul>
																											<div class="slider_pager slider_pagination"></div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-6a3c4a3 elementor-column elementor-col-50 elementor-top-column" data-id="6a3c4a3" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-0210abe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="0210abe" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-d569790 elementor-column elementor-col-100 elementor-inner-column" data-id="d569790" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-c3ff974 elementor-widget elementor-widget-image" data-id="c3ff974" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="100" height="100" src="{% static 'images/loans4-home-pic2.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-70ba3f1 elementor-widget elementor-widget-image" data-id="70ba3f1" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="780" height="780" src="{% static 'images/loans4-home-pic1.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-a46b612 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="a46b612" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-dfbbd64 elementor-column elementor-col-100 elementor-top-column" data-id="dfbbd64" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-6ff65b0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="6ff65b0" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-11a6acd elementor-column elementor-col-100 elementor-inner-column" data-id="11a6acd" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-d2860c8 elementor-widget elementor-widget-text-editor" data-id="d2860c8" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>We processed over <span style="color: #f46110;">8300 loan applications</span> last month</h2> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-bc1ae22 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="bc1ae22" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-e73f638 elementor-column elementor-col-25 elementor-inner-column" data-id="e73f638" data-element_type="column">
																						<div class="elementor-column-wrap">
																							<div class="elementor-widget-wrap"></div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-42b05b7 elementor-column elementor-col-50 elementor-inner-column" data-id="42b05b7" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-dd7d5e0 elementor-widget elementor-widget-text-editor" data-id="dd7d5e0" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet enim ullamcorper. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-5987fa6 elementor-column elementor-col-25 elementor-inner-column" data-id="5987fa6" data-element_type="column">
																						<div class="elementor-column-wrap">
																							<div class="elementor-widget-wrap"></div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-947b39f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="947b39f" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-19900ef elementor-column elementor-col-100 elementor-inner-column" data-id="19900ef" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-6abd89b elementor-align-center elementor-widget elementor-widget-button" data-id="6abd89b" data-element_type="widget" data-widget_type="button.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-button-wrapper">
																											<a href="apply-now.html" class="elementor-button-link elementor-button elementor-size-md" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-icon elementor-align-icon-right"> <i aria-hidden="true" class="fas fa-arrow-right"></i> </span> <span class="elementor-button-text">Apply now</span> </span>
																											</a>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="Footer" class="clearfix">
			<div class="widgets_wrapper center">
				<div class="container">
					<div class="column one-second">
						<aside id="custom_html-2" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
									<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/loans4-footer-logo.png' %}" alt="loans4-footer-logo" title="loans4-footer-logo" width="144" height="45"></div>
								</div>
								<hr class="no_line" style="margin:0 auto 40px">
								<h3><span style="color: #f7f7f7;">+61 (0) 383 766 284</span></h3> <a class="themecolor" href="#">noreply@envato.com</a></div>
						</aside>
					</div>
					<div class="column one-fourth">
						<aside id="custom_html-3" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<hr class="no_line" style="margin:0 auto 10px">
								<p>Client</p>
								<p> <a href="#">FAQ</a>
									<br> <a href="#">How to take a loan?</a>
									<br> <a href="#">How to pay for loan?</a></p>
							</div>
						</aside>
					</div>
					<div class="column one-fourth">
						<aside id="custom_html-4" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<hr class="no_line" style="margin:0 auto 10px">
								<p>Documents</p>
								<p> <a href="#">Loan agreement</a>
									<br> <a href="#">Privacy policy</a>
									<br> <a href="#">Regulations and more</a></p>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one"> <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
						<div class="copyright"> &copy; 2020 BeLoans 4 - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a> </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now <i class="icon-right-open"></i></a>
			<div class="extras-wrapper"></div>
		</div>
		<div class="menu_wrapper"></div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/mfn.menu.js' %}"></script>
	<script src="{% static 'js/jquery.plugins.js' %}"></script>
	<script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
	<script src="{% static 'js/animations/animations.js' %}"></script>
	<script src="{% static 'js/translate3d.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/el_demo.js' %}"></script>
</body>

</html>