{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Be</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<!-- FONTS -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,400italic,500,700,700italic,900'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400italic,500,700,700italic,900'>
	<!-- CSS -->
	<link rel='stylesheet' href='{% static "css/global.css" %}'>
	<link rel='stylesheet' href='{% static "css/el_demo.css" %}'>
	<link rel='stylesheet' href='{% static "css/structure.css" %}'>
	<link rel='stylesheet' href='{% static "css/loans4.css" %}'>
	<link rel='stylesheet' href='{% static "css/custom.css" %}'> </head>

<body class="page-template-default page color-custom style-default button-round layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2172 elementor-default elementor-kit-9 elementor-page elementor-page-96">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						<div class="column one">
							<div class="top_bar_left clearfix">
								<div class="logo">
									<a id="logo" href="{% url 'home' %}" title="BeLoans 4 - Betheme" data-height="60" data-padding="30"><img class="logo-main scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static 'images/loans4.png' %}" data-retina="{% static 'images/retina-loans4.png' %}" data-height="45" alt="loans4" data-no-retina></a>
								</div>
								<div class="menu_wrapper">
									<nav id="menu">
										<ul id="menu-main-menu" class="menu menu-main">
											<li> <a href="{% url 'home' %}"><span>Home</span></a> </li>
											<li> <a href="{% url 'howItWorks' %}"><span>How it works?</span></a> </li>
											<li class="current-menu-item"> <a href="{% url 'ourTips' %}"><span>Our tips</span></a> </li>
											<li> <a href="{% url 'faqs' %}"><span>FAQ</span></a> </li>
											<li> <a href="{% url 'applyNow' %}"><span>Apply now</span></a> </li>
										</ul>
									</nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a> </div>
							</div>
							<div class="top_bar_right">
								<div class="top_bar_right_wrapper"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now <i class="icon-right-open"></i></a> </div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section the_content has_content">
							<div class="section_wrapper">
								<div class="the_content_wrapper">
									<div data-elementor-type="wp-page" data-elementor-id="96" class="elementor elementor-96" data-elementor-settings="[]">
										<div class="elementor-inner">
											<div class="elementor-section-wrap">
												<section class="elementor-element elementor-element-964a4cd elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="964a4cd" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-5c87cbe elementor-column elementor-col-50 elementor-top-column" data-id="5c87cbe" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-37a528e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="37a528e" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-d48277b elementor-column elementor-col-100 elementor-inner-column" data-id="d48277b" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-0fc6c15 elementor-widget elementor-widget-text-editor" data-id="0fc6c15" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h1><span style="color: #f7f7f7;">Quick FAQs</span></h1> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-1e48a72 elementor-widget elementor-widget-text-editor" data-id="1e48a72" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h6><span style="color: #f7f7f7;">Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
					<br>
					</span></h6> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-a2319cc elementor-column elementor-col-50 elementor-top-column" data-id="a2319cc" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-f2dd36d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="f2dd36d" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-ed567e0 elementor-column elementor-col-100 elementor-inner-column" data-id="ed567e0" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-6ac1764 elementor-widget elementor-widget-image" data-id="6ac1764" data-element_type="widget" data-widget_type="image.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-image"> <img width="708" height="577" src="{% static 'images/loans4-subheader1.png' %}" class="attachment-large size-large" alt> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-f180ce9 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f180ce9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-81a7d89 elementor-column elementor-col-100 elementor-top-column" data-id="81a7d89" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-7557b3c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7557b3c" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-0e9ea02 elementor-column elementor-col-100 elementor-inner-column" data-id="0e9ea02" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-52f1b3d elementor-widget elementor-widget-text-editor" data-id="52f1b3d" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>Smart ways to <span style="color: #f46110;">use a loan</span></h2> </div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-8b640f4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8b640f4" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-0be93f4 elementor-column elementor-col-33 elementor-inner-column" data-id="0be93f4" data-element_type="column">
																						<div class="elementor-column-wrap">
																							<div class="elementor-widget-wrap"></div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-e7eca65 elementor-column elementor-col-33 elementor-inner-column" data-id="e7eca65" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-81b0f24 elementor-widget elementor-widget-text-editor" data-id="81b0f24" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit mattis dapibus leo. </p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="elementor-element elementor-element-89bd7e2 elementor-column elementor-col-33 elementor-inner-column" data-id="89bd7e2" data-element_type="column">
																						<div class="elementor-column-wrap">
																							<div class="elementor-widget-wrap"></div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<section class="elementor-element elementor-element-d2442fc elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="d2442fc" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-8191b94 elementor-column elementor-col-100 elementor-inner-column" data-id="8191b94" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-303a9e0 elementor-widget elementor-widget-spacer" data-id="303a9e0" data-element_type="widget" data-widget_type="spacer.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-spacer">
																											<div class="elementor-spacer-inner"></div>
																										</div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-54dc7ff elementor-widget elementor-widget-mfn_blog" data-id="54dc7ff" data-element_type="widget" data-widget_type="mfn_blog.default">
																									<div class="elementor-widget-container">
																										<div class="column_filters">
																											<div class="blog_wrapper isotope_wrapper clearfix">
																												<div class="posts_group lm_wrapper col-4 grid">
																													<div class="post-item isotope-item clearfix post-123 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic1-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic1-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Curabitur vel libero cras vitae wisi nibh</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="123"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">61</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-121 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic2-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic2-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Praesent quis metus adipiscing posuere cubilia</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="121"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">39</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-119 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic3-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic3-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Aenean augue at nulla massa feugiat augue</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="119"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">57</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-117 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic4-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic4-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Duis vulputate tortor quis tortor maecenas in</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="117"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">91</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-115 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic5-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic5-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Integer mi at nibh maecenas nec erat</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="115"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">70</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-113 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic6-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic6-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Nunc id nibh fusce vitae odio lobortis</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="113"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">62</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-111 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic7-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic7-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Pellentesque fringilla at enim eleifend viverra</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="111"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">42</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																													<div class="post-item isotope-item clearfix post-94 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" >
																														<div class="date_label"> May 19, 2020 </div>
																														<div class="image_frame post-photo-wrapper scale-with-grid image">
																															<div class="image_wrapper">
																																<a href="post.html">
																																	<div class="mask"></div><img width="960" height="720" src="{% static 'images/loans4-blog-pic8-960x720.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
																																<div class="image_links double"> <a href="{% static 'images/loans4-blog-pic8-1026x1200.jpg' %}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="post.html" class="link"><i class="icon-link"></i></a> </div>
																															</div>
																														</div>
																														<div class="post-desc-wrapper bg-" >
																															<div class="post-desc">
																																<div class="post-head"></div>
																																<div class="post-title">
																																	<h5 class="entry-title"><a href="post.html">Lorem ipsum dolor sit amet tellus praesent</a></h5> </div>
																																<div class="post-footer">
																																	<div class="button-love"> <span class="love-text">Do you like it?</span><a href="#" class="mfn-love" data-id="94"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">36</span></a> </div>
																																	<div class="post-links"> <i class="icon-doc-text"></i><a href="post.html" class="post-more">Read more</a> </div>
																																</div>
																															</div>
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-ed29e2f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ed29e2f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-a71b75a elementor-column elementor-col-100 elementor-top-column" data-id="a71b75a" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-b83bbca elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="b83bbca" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-8201dd0 elementor-column elementor-col-100 elementor-inner-column" data-id="8201dd0" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-406b488 elementor-widget elementor-widget-text-editor" data-id="406b488" data-element_type="widget" data-widget_type="text-editor.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-text-editor elementor-clearfix">
																											<h2>Do you have any questions?</h2>
																											<h2><span style="color: #f7f7f7;">Send us a message</span></h2> </div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-3899cab elementor-align-center elementor-widget elementor-widget-button" data-id="3899cab" data-element_type="widget" data-widget_type="button.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-button-wrapper">
																											<a href="contact.html" class="elementor-button-link elementor-button elementor-size-md" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-icon elementor-align-icon-right"> <i aria-hidden="true" class="fas fa-arrow-right"></i> </span> <span class="elementor-button-text">Contact us</span> </span>
																											</a>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
												<section class="elementor-element elementor-element-dbe6df1 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dbe6df1" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
													<div class="elementor-container elementor-column-gap-wider">
														<div class="elementor-row">
															<div class="elementor-element elementor-element-8f4e911 elementor-column elementor-col-100 elementor-top-column" data-id="8f4e911" data-element_type="column">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<section class="elementor-element elementor-element-1babd99 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1babd99" data-element_type="section">
																			<div class="elementor-container elementor-column-gap-default">
																				<div class="elementor-row">
																					<div class="elementor-element elementor-element-6ffcb8b elementor-column elementor-col-100 elementor-inner-column" data-id="6ffcb8b" data-element_type="column">
																						<div class="elementor-column-wrap elementor-element-populated">
																							<div class="elementor-widget-wrap">
																								<div class="elementor-element elementor-element-2dbe3d5 elementor-widget elementor-widget-spacer" data-id="2dbe3d5" data-element_type="widget" data-widget_type="spacer.default">
																									<div class="elementor-widget-container">
																										<div class="elementor-spacer">
																											<div class="elementor-spacer-inner"></div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="Footer" class="clearfix">
			<div class="widgets_wrapper center">
				<div class="container">
					<div class="column one-second">
						<aside id="custom_html-2" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
									<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/loans4-footer-logo.png' %}" alt="loans4-footer-logo" title="loans4-footer-logo" width="144" height="45"></div>
								</div>
								<hr class="no_line" style="margin:0 auto 40px">
								<h3><span style="color: #f7f7f7;">+61 (0) 383 766 284</span></h3> <a class="themecolor" href="#">noreply@envato.com</a></div>
						</aside>
					</div>
					<div class="column one-fourth">
						<aside id="custom_html-3" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<hr class="no_line" style="margin:0 auto 10px">
								<p>Client</p>
								<p> <a href="#">FAQ</a>
									<br> <a href="#">How to take a loan?</a>
									<br> <a href="#">How to pay for loan?</a></p>
							</div>
						</aside>
					</div>
					<div class="column one-fourth">
						<aside id="custom_html-4" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget">
								<hr class="no_line" style="margin:0 auto 10px">
								<p>Documents</p>
								<p> <a href="#">Loan agreement</a>
									<br> <a href="#">Privacy policy</a>
									<br> <a href="#">Regulations and more</a></p>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				<div class="container">
					<div class="column one"> <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
						<div class="copyright"> &copy; 2020 BeLoans 4 - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a> </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now <i class="icon-right-open"></i></a>
			<div class="extras-wrapper"></div>
		</div>
		<div class="menu_wrapper"></div>
	</div>
	<div id="body_overlay"></div>
	<!-- JS -->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/mfn.menu.js' %}"></script>
	<script src="{% static 'js/jquery.plugins.js' %}"></script>
	<script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
	<script src="{% static 'js/animations/animations.js' %}"></script>
	<script src="{% static 'js/translate3d.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/el_demo.js' %}"></script>
</body>

</html>